#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.setupform {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}


.animation-container {
  position: relative;
  /* overflow: hidden; */
  height: 40px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  color: white;
  font-size: 2em;
  z-index: 999;
}

.name-columns {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.name-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
  border: black solid 1px;
  margin: 8px;
}

.animation-none {
  animation: none;
  animation-fill-mode: forwards;
}

.animation-select {
  animation: 1s ease-in nameAnimationSelect;
  animation-fill-mode: forwards;
}

@keyframes nameAnimationSelect {

  from {
    /* pushes the sun down past the viewport */
    transform: translateX(0);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(400px);
  }

}

.animation1 {
  animation: nameAnimation1 1.03s linear infinite;
}

@keyframes nameAnimation1 {

  0%,
  100% {
    opacity: 0;
    top: 8px;
    left: 2px;
  }

  45% {
    opacity: 1;
    top: 7px;
    left: 1px;
  }

  60% {
    opacity: 1;
    top: 3px;
    left: 9px;
  }

  75% {
    opacity: 0;
    top: 5px;
    left: 0px;
  }
}

.animation2 {
  animation: nameAnimation2 2.14s linear infinite;
}

@keyframes nameAnimation2 {

  0%,
  100% {
    opacity: 0;
    top: 1px;
    left: 7px;
  }

  60% {
    opacity: 1;
    top: 7px;
    left: 2px;
  }

  85% {
    opacity: 1;
    top: 9px;
    left: 8px;
  }
}

.animation3 {
  animation: nameAnimation3 1.8s linear infinite;
}

@keyframes nameAnimation3 {

  0%,
  100% {
    opacity: 1;
    top: 7px;
    left: 9px;
  }

  10% {
    opacity: 0;
    top: 0px;
    left: 4px;
  }

  75% {
    opacity: 1;
    top: 3px;
    left: 8px;
  }

  85% {
    opacity: 0;
    top: 1px;
    left: 4px;
  }
}

.animation4 {
  animation: nameAnimation4 1.63s linear infinite;
}

@keyframes nameAnimation4 {

  0%,
  100% {
    opacity: 0;
    top: 5px;
    left: 9px;
  }

  34% {
    opacity: 1;
    top: 1px;
    left: 2px;
  }

  85% {
    opacity: 0;
    top: 7px;
    left: 0px;
  }
}